<ng-container *ngIf="!loading; else loader">
  <ng-container *ngIf="courses.length; else emptyResult">
    <mat-grid-list cols="2" rowHeight="1:1" [gutterSize]="'20px'">
      <mat-grid-tile *ngFor="let course of courses">
        <mat-card>
          <img
            mat-card-image
            src="https://img.currency.com/imgs/articles/834xx/shutterstock_1585340284.jpg"
            alt="Course image"
          />
          <mat-card-header>
            <mat-card-title>
              {{ course.title }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ course.description }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-flat-button color="accent">View more</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-container>
  
  <ng-template #emptyResult>
    <h2>Нічого не знайдено</h2>
  </ng-template>
</ng-container>

<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>
