.fixed {
    top: 0;
    position:fixed;
    width: 100%;
    overflow-y:hidden;
    overflow-x:hidden;
    z-index: 9999;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 140px;
}

.card {
  background-color:rgba(255, 255, 255, 0.5) ; 
  padding: 5px;
  margin: 5px;
  mat-card-header, mat-card-title, mat-card-subtitle {
    padding: 0;
    margin: 0 7px;
  }
}
  
.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  margin: 0;
}
  
nav {
    background-color: var(--white-color);
  }