<div class="fixed">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Kvanta</span>
    <span class="spacer"></span>

    <ng-container *ngIf="isAuthorised; else login">
      <mat-card class="card" routerLink="/profile">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Shiba Inu Inu Inu</mat-card-title>
          <mat-card-subtitle>Student</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    
      <button mat-icon-button aria-label="Log Out" routerLink="/" (click)="isAuthorised = false">
        <mat-icon>logout</mat-icon>
      </button>
    </ng-container>

    <ng-template #login>
      <button mat-icon-button aria-label="Log In" routerLink="/auth">
        <mat-icon>login</mat-icon>
      </button>
    </ng-template>

  </mat-toolbar-row>
</mat-toolbar>

<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <ng-container *ngFor="let link of navLinks">
    <a mat-tab-link
    *ngIf="!(link.authRequired && !isAuthorised)"
    [routerLink]="link.link"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive"
  >
    {{link.label}}
  </a>
  </ng-container>
  
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>